# environment variables for the example-app
VITE_GENASSIST_CHAT_APIURL=your-api-url
VITE_GENASSIST_CHAT_APIKEY=your-api-key
VITE_GENASSIST_CHAT_RECAPTCHA_KEY=your-recaptcha-site-key
VITE_GENASSIST_CHAT_TENANT=your-tenant-id